.boxHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 2rem);
    width: 100vw;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 1.25rem;
    box-sizing: border-box;
}
.listaPousadas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    overflow-y: auto;
}